[submodule "tool/aura-zed"]
	path = tool/aura-zed
	url = https://github.com/nahharris/aura-zed.git
[submodule "tool/tree-sitter-aura"]
	path = tool/tree-sitter-aura
	url = https://github.com/nahharris/tree-sitter-aura.git
[submodule "tool/aura-vscode"]
	path = tool/aura-vscode
	url = https://github.com/nahharris/aura-vscode.git
[submodule "aura-stl"]
	path = aura-stl
	url = https://github.com/nahharris/aura-stl.git
[submodule "tool/aura-nvim"]
	path = tool/aura-nvim
	url = https://github.com/nahharris/aura-nvim.git
[submodule "tool/auon"]
	path = tool/auon
	url = ../auon
[submodule "tool/auon-rs"]
	path = tool/auon-rs
	url = ../auon-rs
